// Theme Information
//--------------------------------------------//
$theme_name: "Kingfisher";
$theme_uri: "www.martijnwip.nl";
$theme_description: "Theme for Kingfisher Cafe in Amsterdam";
$theme_version: "1.0";
$theme_author: "Martijn wip";
$theme_author_uri: "http://www.martijnwip.nl";
$theme_license: "GPL";
$theme_tags: "responsive-layout, post-formats";

